*
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #335D8A;
}

#wrapper {
  position: relative;


}

.gameover {
  text-align: center;
  display: inline;
  position: absolute;
  top: 50px;
  width: 480;
  height: 320;
  background-color: #ff0000;
  font-size: 100px;
  z-index: 2;
}

.gameover span {
  display: inline-block;
  font-size: 20px;
}

canvas {
  width: 600px;
  height: 400px;
  border: 2px solid #ff0000;
  cursor:ns-resize;
  background-color: #eee;
  border: none;

}

canvas.direction {
 cursor:ew-resize;
}



.info {
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  width: 600px;
  height: 50px;
  background-color: #FEC88F;
}

#time {
    margin-left:5%;
  width: 30%
}
#cleared {
    margin-left:5%;
  width: 30%
}
#level {
  margin-left:5%;
  width: 30%
}
