*
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #28263D;
}



/*28263D dark
5246BD purple
E47A68 orange
FAC3BE beige
F6F7E1 white yellow
CAA6EA light purple

font-family: 'Poiret One', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Slab', serif;
*/

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Quicksand';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #28263D;
  color: #FAC3BE;
  z-index: 3;
}

.welcome h1 {
  font-size: 100px;
}

/*.circle {
  background: #FDFFAE;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  float: left;
  animation: bounce 1s infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
	  transform:translateY(0px);
  }
  100% {
  	transform:translateY(600px);
    }
}*/


#wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-gameover {
  position: absolute;
  left: 50%;
  top:50%
}

.gameover {
  position: relative;
  left: -50%;
  top: -50%;
  width: 100vw;
  height: 100vh;
  background-image: url('source.gif');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

/*.gameover {
  position: absolute;
  top: 0;
  left:17%;

  width: 100vw;
  height: 100vh;
  background-image: url('source.gif');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
*/

}




canvas {
  display: block;
  margin-top: 90px;
  width: 600px;
  height: 400px;
  border: 2px solid #ff0000;
  cursor:ns-resize;
  background-color: #28263D;
  border: none;

}

canvas.direction {
 cursor:ew-resize;
}



.info {
  font-family: 'Quicksand';
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding-top: 15px;
  width: 600px;
  height: 50px;
  background-color: #28263D;
  color: #F6F7E1;
}

#time {
  text-align: center;

  width: 30%
}
#cleared {
  text-align: center;
  width: 30%
}
#level {
  text-align: center;

  width: 30%
}
